{% extends "base.html" %}
{% block content %}
    <h1>Your Saved News</h1>
    <ul class="cards">
        {% for news in user.user_saved_news.all %}
            <li class="cards__item">
                <div class="card">
                    <div class="card__image" style="background-image: url('{{ news.image }}')"></div>
                    <div class="card__content">
                        <div class="card__title">{{ news.title }}</div>
                        <p class="card__text">{{ news.description }}</p>
                        <a href="{{ news.url }}" class="btn btn--block card__btn">Read More</a>
                        <button type="button" class="btn btn-warning remove-button" data-news_url="{{ news.url }}">Remove</button>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}
