{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ByteNewz</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <!-- Template Main CSS Files -->
  <link href="{% static 'css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
    <style>
        #navbar {
          background-color: #333; /* Change the background color to your preference */
        }
            #navbar ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        
        #navbar ul li {
          display: inline;
          margin-right: 20px; /* Add spacing between menu items */
        }
        
        #navbar ul li a {
          text-decoration: none;
          color: #fff; /* Change the text color to your preference */
          font-size: 16px; /* Adjust the font size as needed */
          transition: color 0.3s; /* Add a smooth color transition on hover */
        }
        
        #navbar ul li a:hover {
          color: #ff4500; /* Change the color on hover to your preference */
        }
        #navbar .btn {
          background-color: #ff4500; /* Change the button background color to your preference */
          color: #fff; /* Change the text color to your preference */
          padding: 10px 20px; /* Adjust the padding as needed */
          border: none;
          border-radius: 5px; /* Add rounded corners */
          text-decoration: none;
          font-size: 16px; /* Adjust the font size as needed */
        }
        
        #navbar .btn:hover {
          background-color: #ff6600; /* Change the button background color on hover to your preference */
        }
        .js-search-open .bi-search {
          font-size: 24px; /* Adjust the icon size as needed */
          color: #fff; /* Change the icon color to your preference */
          text-decoration: none;
        }
        
        .js-search-open .bi-search:hover {
          color: #ff4500; /* Change the icon color on hover to your preference */
        }
        
        .dropdown-toggle.custom-dropdown-toggle {
            color: #fff !important;
            text-decoration: none !important;
            font-size: 16px !important;
            transition: color 0.3s !important;
        }
    
        .dropdown-toggle.custom-dropdown-toggle:hover {
            color: #ff4500 !important;
        }
    
        .dropdown-menu.custom-dropdown-menu {
            background-color: #333 !important;
        }
    
        .dropdown-item.custom-dropdown-item {
            color: #fff !important;
            text-decoration: none !important;
            padding: 8px 16px !important;
            display: block !important;
            transition: color 0.3s !important;
            margin: 0;
            padding-top: 5px; /* Adjust the top padding as needed */
            padding-bottom: 5px;
        }
    
        .dropdown-item.custom-dropdown-item:hover {
            color: #ff4500 !important;
        }
        
        .modal-backdrop {
            background-color: transparent !important;
            pointer-events: none !important;
        }

        .pending {
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 5px 10px;
          font-size: 12px;
          position: relative;
          top: 0px;
          margin-left: 0px;
      }
      .truncate-text {
          display: inline-block;
          max-width: 190px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .notification-item {
          display: flex;
          align-items: center;
          padding: 10px;
        }

        .notification-image {
          flex: 1;
          margin-right: 10px;
        }

        .notification-image img {
          max-width: 80px;
          max-height: 80px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
        }

        .notification-content {
          flex: 3;
        }
        .dropdown-menu {
          max-height: 500px;
          overflow-y: auto;
        }

        .fixed-bottom-right {
          position: fixed;
          bottom: 0;
          right: 0;
          margin: 15px; /* Adjust margin as needed */
          z-index: 1000; /* Ensure a higher z-index than other elements */
        }
      
        .chat-container {
          background-color: #f5f5f5; /* Light gray background */
          border-radius: 8px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
        }
      
        .chat-message {
          display: flex;
          align-items: center;
          padding: 10px;
          margin-bottom: 5px;
        }
      
        .chat-message img {
          margin-right: 10px;
          border-radius: 50%;
        }
      
        /* Style for the input and button */
        .form-group {
          display: flex;
          margin-top: 10px;
        }
      
        #id_message_send_input {
          flex: 1;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 8px;
          margin-bottom: 10px;
        }
      
        #id_message_send_button {
          background-color: #007bff; /* Blue button color */
          color: #fff; /* White text color */
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          margin-bottom: 10px;
        }

        .toggle-chat-btn {
          position: fixed;
          bottom: 20px;
          right: 80px;
          background-color: #007bff;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
      }
  
      .toggle-chat-btn i {
          font-size: 20px;
      }
  
      .chat-box {
          max-width: 400px; /* Set a maximum width for the chat box */
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 10px;
          overflow: hidden; /* Hide any content that overflows */
      }
  
      .chat-messages-container {
          max-height: 300px; /* Set a fixed height for the chat messages container */
          overflow-y: auto; /* Enable vertical scrolling */
      }
  
      #id_chat_item_container {
        max-height: 300px; /* Set the desired height for the chat container */
        overflow-y: auto;
      }
    
      .chat-container {
            flex: 0 0 auto;
      }

    </style>
</head>

<body>

  <header id="header" class="header d-flex align-items-center fixed-top" style="background-color: #333;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'Home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1 style="color: white;">ByteNewz</h1>
      </a>

      <nav id="navbar" class="navbar" style="margin-right: 100px">
        <ul>
          <li><a href="{% url 'category' %}?q=Business">Business</a></li>
          <li><a href="{% url 'category' %}?q=Technology">Technology</a></li>
          <li><a href="{% url 'category' %}?q=Entertainment">Entertainment</a></li>
          <li><a href="{% url 'category' %}?q=Sports">Sports</a></li>
          <li><a href="{% url 'category' %}?q=Science">Science</a></li>
          <li><a href="{% url 'category' %}?q=Health">Health</a></li>
          {% if user.is_authenticated %}
                <li class="nav-item dropdown custom-dropdown">
                    <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.full_name }}
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item custom-dropdown-item" href={% url 'accounts:user_profile' request.user.id %}>Profile</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'accounts:user_logout' %}">Logout</a></li>
                    </ul>
                </li>
          {% else %}
             <li><a href="{% url 'accounts:user_login' %}" class="btn btn-outline-primary me-2">Login</a></li>
             <li><a href="{% url 'accounts:user_register' %}" class="btn btn-primary">Sign-up</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
              <form action="{% url 'search_results' %}?q=q" method="get" class="search-form" id = "search-form">
                <span class="icon bi-search"></span>
                <input type="text" placeholder="Search" class="form-control" id = "search-input" name="q">
                <button class="btn js-search-close"><span class="bi-x"></span></button>
              </form>
            </div><!-- End Search Form -->
        
      </div>
    <!-- Notification bell -->
    {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {% if notifications == 0 %}
            <span class="bi-bell"></span>
          {% else %}
            <span class="pending">{{ notifications }}</span>
            <span class="bi-bell"></span>
          {% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {% for notification in notifications_news %}
          <li>
            <a class="dropdown-item" href="{{ notification.url }}">
              <div class="notification-item">
                <div class="notification-image">
                  <img src="{{ notification.image }}" alt="{{ notification.title }}">
                </div>
                <div class="notification-content">
                  <span class="truncate-text">{{ notification.title }}</span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    </div>

  </header><!-- End Header -->

  <div class="modal fade" id="interestModal" tabindex="-1" aria-labelledby="interestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interestModalLabel">Choose Your Interests</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="interestForm" method="post" action="{% url 'accounts:save_interests' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% for interest in interests %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest{{ forloop.counter }}" name="interests" value="{{ interest.name }}">
                                <label class="form-check-label" for="interest{{ forloop.counter }}">{{ interest.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveInterestsButton" data-bs-dismiss="modal">Save Interests</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container" id="articles-container">
            <div class="row">
                <div class="col-12">
                    <!-- Hero Slider Section -->
                    <section id="hero-slider" class="hero-slider">
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">
                                {% for value in data %}
                                    <div class="swiper-slide">
                                      <a href="{% url 'add_to_historic' %}?url={{ value.url }}&title={{ value.title }}&description={{ value.description }}&image={{ value.image }}&publishedat={{ value.publishedat }}" class="img-bg d-flex align-items-end" style="background-image: url('{{ value.image }}');">
                                        <div class="img-bg-inner">
                                                <h2>{{ value.title }}</h2>
                                                <p>{{ value.description }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </section>
                    <!-- End Hero Slider Section -->
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Chat Section ======= -->    
    <div id="toggleChatBoxBtn" class="toggle-chat-btn">
      <i class="fas fa-comment"></i>
    </div>

    <div class="fixed-bottom-right" id="chatBox">
      <div class="container d-flex justify-content-center chat-container">
          <div id="closeChatBoxBtn" class="close-chat-btn">
              <i class="fas fa-times"></i>
          </div>
          <div>
              <div class="d-flex flex-column p-3" id="id_chat_item_container">
                  <!-- This is where chat messages will be displayed -->
              </div>
              <div class="form-group px-3">
                  {% if user.is_authenticated %}
                  <input type="text" id="id_message_send_input" placeholder="Type your message..." />
                  <button type="submit" id="id_message_send_button">Send</button>
                  {% else %}
                        <input type="text" class="form-control" id="id_message_send_input" placeholder="Login to chat..." disabled />
                        <button type="submit" class="btn btn-primary" id="id_message_send_button" disabled>Send</button>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
    <!-- ======= End Chat Section ======= -->
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="{{ data_Sport.0.url }}"><img src={{ data_Sport.0.image  }} alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>{{ data_Sport.0.publishedat }}</span></div>
              <h2><a href={{ data_Sport.0.url }}>{{data_Sport.0.title}}</a></h2>
              <p class="mb-4 d-block">{{ data_Sport.0.description }}</p>

              <div class="d-flex align-items-center author">
                <div class="photo"><img src="static/img/person-1.jpg" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">{{ data_Sport.0.author }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href={{ data_Technology.0.url }}><img src={{ data_Technology.0.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Tech</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.0.publishedat }}</span></div>
                  <h2><a href={{ data_Technology.0.url }}>{{data_Technology.0.title}}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href={{ data_Science.0.url }}><img src={{ data_Science.0.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Science</span> <span class="mx-1">&bullet;</span> <span>{{ data_Science.0.publishedat }}</span></div>
                  <h2><a href={{ data_Science.0.url }}>{{data_Science.0.title}}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href={{ data_Health.0.url }}><img src={{ data_Health.0.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Health</span> <span class="mx-1">&bullet;</span> <span>{{ data_Health.0.publishedat }}</span></div>
                  <h2><a href={{ data_Health.0.url }}>{{data_Health.0.title}}</a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href={{ data_Culture.0.url }}><img src={{ data_Culture.0.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.0.publishedat }}</span></div>
                  <h2><a href={{ data_Culture.0.url }}>{{data_Culture.0.title}}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href={{ data_Sport.1.url }}><img src={{ data_Sport.1.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>{{ data_Sport.1.publishedat }}</span></div>
                  <h2><a href={{ data_Sport.1.url }}>{{data_Sport.1.title}}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href={{ data_Entertainment.0.url }}><img src={{ data_Entertainment.0.image }} alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Entertainment</span> <span class="mx-1">&bullet;</span> <span>{{ data_Entertainment.0.publishedat }}</span></div>
                  <h2><a href={{ data_Entertainment.0.url }}>{{data_Entertainment.0.title}}</a></h2>
                </div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">

                <div class="trending">
                  <h3>Trending</h3>
                  <ul class="trending-post">
                    <li>
                      <a href={{ data.0.url }}>
                        <span class="number">1</span>
                        <h3>{{ data.0.title }}</h3>
                        <span class="author">{{ data.0.author }}</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ data.1.url }}>
                        <span class="number">2</span>
                        <h3>{{ data.1.title }}</h3>
                        <span class="author">{{ data.1.author }}</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ data.2.url }}>
                        <span class="number">3</span>
                        <h3>{{ data.2.title }}</h3>
                        <span class="author">{{ data.2.author }}</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ data.3.url }}>
                        <span class="number">4</span>
                        <h3>{{ data.3.title }}</h3>
                        <span class="author">{{ data.3.author }}</span>
                      </a>
                    </li>
                    <li>
                      <a href={{ data.4.url }}>
                        <span class="number">5</span>
                        <h3>{{ data.4.title }}</h3>
                        <span class="author">{{ data.4.author }}</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Culture Category Section ======= -->

    {% if user.is_authenticated %}
      {% for interest, i in interest_articles.items %}
          
                  <section class="category-section">
                    <div class="container" data-aos="fade-up">
                      <div class="section-header d-flex justify-content-between align-items-center mb-5">
                        <h2>{{ interest }}</h2>
                        <div><a href="category.html" class="more">See All {{interest}}</a></div>
                      </div>
              
                      <div class="row">
                        <div class="col-md-9">
              
                          <div class="d-lg-flex post-entry-2">
                            <a href="{{ i.0.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                              <img src={{ i.0.image  }} alt="" class="img-fluid">
                            </a>
                            <div>
                              <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.0.publishedat  }}</span></div>
                              <h3><a href={{ i.0.url }}>{{ i.0.title  }}</a></h3>
                              <p>{{ i.0.description }}</p>
                              <div class="d-flex align-items-center author">
                                <div class="name">
                                  <h3 class="m-0 p-0">{{ i.0.author }}</h3>
                                </div>
                              </div>
                            </div>
                          </div>
              
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="post-entry-1 border-bottom">
                                <a href="{{ i.1.url  }}"><img src={{ i.1.image  }}alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.1.publishedat }}</span></div>
                                <h2 class="mb-2"><a href={{ i.1.url  }}>{{ i.1.title  }}</a></h2>
                                <span class="author mb-3 d-block">{{ i.1.author  }}</span>
                                <p class="mb-4 d-block">{{ i.1.description  }}</p>
                              </div>
              
                              <div class="post-entry-1">
                                <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.2.publishedat }}</span></div>
                                <h2 class="mb-2"><a href={{ i.2.url  }}>{{ i.2.title  }}</a></h2>
                                <span class="author mb-3 d-block">{{ i.2.author  }}</span>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="post-entry-1">
                                <a href={{ i.3.url  }}><img src={{ i.3.image  }} alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.3.publishedat  }}</span></div>
                                <h2 class="mb-2"><a href={{ i.3.url  }}>{{ i.3.title  }}</a></h2>
                                <span class="author mb-3 d-block">{{ i.3.author  }}</span>
                                <p class="mb-4 d-block">{{ i.3.description  }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
              
                        <div class="col-md-3">
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.4.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.4.url  }}>{{ i.4.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.4.author  }}</span>
                          </div>
              
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.5.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.5.url  }}>{{ i.5.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.5.author  }}</span>
                          </div>
              
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.6.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.6.url  }}>{{ i.6.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.6.author  }}</span>
                          </div>
              
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.7.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.7.url  }}>{{ i.7.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.7.author  }}</span>
                          </div>
              
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.8.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.8.url  }}>{{ i.8.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.8.author  }}</span>
                          </div>
              
                          <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">{{interest}}</span> <span class="mx-1">&bullet;</span> <span>{{ i.9.publishedat  }}</span></div>
                            <h2 class="mb-2"><a href={{ i.9.url  }}>{{ i.9.title  }}</a></h2>
                            <span class="author mb-3 d-block">{{ i.9.author  }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              <!-- End Culture Category Section -->
          
        {% endfor %}
    {% endif %}

    {% if not user.is_authenticated %}
          <section class="category-section">
            <div class="container" data-aos="fade-up">
              <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>Culture</h2>
                <div><a href="category.html" class="more">See All Culture</a></div>
              </div>
      
              <div class="row">
                <div class="col-md-9">
      
                  <div class="d-lg-flex post-entry-2">
                    <a href="{{ data_Culture.0.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                      <img src={{ data_Culture.0.image  }} alt="" class="img-fluid">
                    </a>
                    <div>
                      <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.0.publishedat  }}</span></div>
                      <h3><a href={{ data_Culture.0.url }}>{{ data_Culture.0.title  }}</a></h3>
                      <p>{{ data_Culture.0.description }}</p>
                      <div class="d-flex align-items-center author">
                        <div class="name">
                          <h3 class="m-0 p-0">{{ data_Culture.0.author }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="post-entry-1 border-bottom">
                        <a href="{{ data_Culture.1.url  }}"><img src={{ data_Culture.1.image  }}alt="" class="img-fluid"></a>
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.1.publishedat }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Culture.1.url  }}>{{ data_Culture.1.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Culture.1.author  }}</span>
                        <p class="mb-4 d-block">{{ data_Culture.1.description  }}</p>
                      </div>
      
                      <div class="post-entry-1">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.2.publishedat }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Culture.2.url  }}>{{ data_Culture.2.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Culture.2.author  }}</span>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="post-entry-1">
                        <a href={{ data_Culture.3.url  }}><img src={{ data_Culture.3.image  }} alt="" class="img-fluid"></a>
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.3.publishedat  }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Culture.3.url  }}>{{ data_Culture.3.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Culture.3.author  }}</span>
                        <p class="mb-4 d-block">{{ data_Culture.3.description  }}</p>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-md-3">
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.4.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.4.url  }}>{{ data_Culture.4.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.4.author  }}</span>
                  </div>
      
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.5.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.5.url  }}>{{ data_Culture.5.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.5.author  }}</span>
                  </div>
      
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.6.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.6.url  }}>{{ data_Culture.6.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.6.author  }}</span>
                  </div>
      
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.7.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.7.url  }}>{{ data_Culture.7.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.7.author  }}</span>
                  </div>
      
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.8.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.8.url  }}>{{ data_Culture.8.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.8.author  }}</span>
                  </div>
      
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ data_Culture.9.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Culture.9.url  }}>{{ data_Culture.9.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Culture.9.author  }}</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Culture Category Section -->
          <!-- ======= Technology Category Section ======= -->
          <section class="category-section">
            <div class="container" data-aos="fade-up">

              <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>Technology</h2>
                <div><a href="category.html" class="more">See All Technology</a></div>
              </div>

              <div class="row">
                <div class="col-md-9 order-md-2">

                  <div class="d-lg-flex post-entry-2">
                    <a href={{ data_Technology.0.url }} class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                      <img src={{ data_Technology.0.image  }} alt="" class="img-fluid">
                    </a>
                    <div>
                      <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                      <h3><a href={{ data_Technology.0.url  }}>{{ data_Technology.0.title  }}</a></h3>
                      <p>{{ data_Technology.0.description  }}</p>
                      <div class="d-flex align-items-center author">
                        <div class="photo"><img src="static/img/person-4.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                          <h3 class="m-0 p-0">{{ data_Technology.0.author  }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4">
                      <div class="post-entry-1 border-bottom">
                        <a href={{ data_Technology.1.url  }}><img src={{ data_Technology.1.image  }} alt="" class="img-fluid"></a>
                        <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.1.publishedat  }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Technology.1.url  }}>{{ data_Technology.1.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Technology.1.author  }}</span>
                        <p class="mb-4 d-block">{{ data_Technology.1.description  }}</p>
                      </div>

                      <div class="post-entry-1">
                        <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.2.publishedat  }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Technology.2.url  }}>{{ data_Technology.2.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Technology.2.author  }}</span>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="post-entry-1">
                        <a href={{ data_Technology.3.url  }}><img src={{ data_Technology.3.image  }} alt="" class="img-fluid"></a>
                        <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.3.publishedat  }}</span></div>
                        <h2 class="mb-2"><a href={{ data_Technology.3.url  }}>{{ data_Technology.3.title  }}</a></h2>
                        <span class="author mb-3 d-block">{{ data_Technology.3.author  }}</span>
                        <p class="mb-4 d-block">{{ data_Technology.3.description  }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.4.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.4.url  }}>{{ data_Technology.4.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.4.author  }}</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.5.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.5.url  }}>{{ data_Technology.5.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.5.author  }}</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.6.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.6.url  }}>{{ data_Technology.6.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.6.author  }}</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.7.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.7.url  }}>{{ data_Technology.7.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.7.author  }}</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.8.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.8.url  }}>{{ data_Technology.8.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.8.author  }}</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technology</span> <span class="mx-1">&bullet;</span> <span>{{ data_Technology.9.publishedat  }}</span></div>
                    <h2 class="mb-2"><a href={{ data_Technology.9.url  }}>{{ data_Technology.9.title  }}</a></h2>
                    <span class="author mb-3 d-block">{{ data_Technology.9.author  }}</span>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- End Technology Category Section -->
          
          {% endif %}
            <button type="button" id="modal_btn" class="btn btn-primary" style="display: none;"  data-bs-toggle="modal" data-bs-target="#interestModal">
              Choose Interests (Modal invisible button) 
            </button>
          </section><!-- End Entertainment Category Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-Technology-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>
  <!-- End Footer -->
  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Template Main JS File -->
  <script src={%  static '/js/main.js' %}></script>
  <script>
      var searchInput = document.getElementById("search-input");
      var searchForm = document.getElementById("search-form");
  
      searchInput.addEventListener("keyup", function(event) {
          if (event.key === "Enter") {
              searchForm.submit();
          }
      });

      function toggleDropdown() {
          var dropdownMenu = document.getElementById("dropdown-menu");
          dropdownMenu.classList.toggle("show");
      }

      window.onclick = function(event) {
          if (!event.target.matches('.profile-icon')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              for (var i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      }
      
      $(document).ready(function () {
          $('#interestModal').modal({
              backdrop: 'static',
              keyboard: false
          });
      });
      
      $(document).ready(function () {
      $('#saveInterestsButton').click(function () {
          var formData = $('#interestForm').serialize();

          $.ajax({
              type: 'POST',
              url: '{%  url "accounts:save_interests" %}',
              data: formData,
              success: function (data) {
                  if (data.success) {
                      $('#interestModal').modal('hide');
                  }
              }
              });
          });
      });

  </script>

  <script>
    const chatSocket = new WebSocket("ws://" + window.location.host + "/");
    
    chatSocket.onopen = function (e) {
      console.log("The connection was set up successfully!");
    };
    
    chatSocket.onclose = function (e) {
      console.log("Something unexpected happened!");
    };
    
    document.querySelector("#id_message_send_input").focus();
    
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
      if (e.keyCode == 13) {
        document.querySelector("#id_message_send_button").click();
      }
    };
    
    document.querySelector("#id_message_send_button").onclick = function (e) {
      var messageInput = document.querySelector("#id_message_send_input").value;
      chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.full_name}}" }));
    };
    
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      
      var messageContainer = document.createElement("div");
      messageContainer.classList.add("chat-message");
  
      var userImage = document.createElement("img");
      userImage.src = "https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png";
      userImage.width = 30;
      userImage.height = 30;
  
      var messageText = document.createElement("div");
      messageText.innerHTML = data.username + ": " + data.message;
  
      messageContainer.appendChild(userImage);
      messageContainer.appendChild(messageText);
  
      document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_chat_item_container").appendChild(messageContainer);
    };

    $(document).ready(function() {
      // Initially hide the chat box
      $("#chatBox").hide();

      // Toggle the chat box when the button is clicked
      $("#toggleChatBoxBtn").click(function() {
          $("#chatBox").toggle();
      });

      // Close the chat box when the close button is clicked
      $("#closeChatBoxBtn").click(function() {
          $("#chatBox").hide();
      });
    });
    function scrollToBottom() {
      var chatContainer = $("#id_chat_item_container");
      chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
    }

    // Event handler for sending a message
    $("#id_message_send_button").click(function() {

        // After sending the message, scroll to the bottom
        scrollToBottom();
    });
  </script>

  {% if user.is_authenticated and not user.get_interests %}
    <script>
      $(document).ready(function () {
        $('#modal_btn').click();  // Simulate a click on the hidden button to open the modal
      });
    </script>
  {% endif %}

</body>

</html>
